<div class="row" style="margin-top: 50px;">
    <div class="col-xs-12" ng-class="{textright: textAlignRight}">
            <div>
		   	<h2>Agree</h2>
                        <ul>
                            <li ng-repeat="statement in sortedStatements.agree" class="{textright: textAlignRight}">
                            <b>({{ statement._id }})</b> <span ng-bind-html="statement.__text"></span> (覺得重要有{{stats[statement._id].agree}}人, 還好的有{{stats[statement._id].neutral}}, 不重要的有{{stats[statement._id].disagree}})
                            <h4>Answer</h4>
                            <p>
                            {{paragraphsMap[statement._id].__text}}
                            </p>

                            <div id="disqus-{{statement._id}}">
                              <h4 ng-click="loadDisqus(statement._id);">Comments</h4>
                            </div>

                            </li>
                        </ul>
            </div>

            <div>
		   	<h2>Neaurl</h2>
                        <ul>
                            <li ng-repeat="statement in sortedStatements.neutral" class="{textright: textAlignRight}"><b>({{ statement._id }})</b> <span ng-bind-html="statement.__text"></span> (覺得重要有{{stats[statement._id].agree}}人, 還好的有{{stats[statement._id].neutral}}, 不重要的有{{stats[statement._id].disagree}})
                            <h4>Answer</h4>
                            <p>
                            {{paragraphsMap[statement._id].__text}}
                            </p>

                            <div id="disqus-{{statement._id}}">
                              <h4 ng-click="loadDisqus(statement._id);">Comments</h4>
                            </div>

                            </li>
                        </ul>
            </div>

            <div>
			<h2>Disagree</h2>
                        <ul>
                            <li ng-repeat="statement in sortedStatements.disagree" class="{textright: textAlignRight}"><b>({{ statement._id }})</b> <span ng-bind-html="statement.__text"></span>  (覺得重要有{{stats[statement._id].agree}}人, 還好的有{{stats[statement._id].neutral}}, 不重要的有{{stats[statement._id].disagree}})
                            <div>

                            <div>
                              <h4>Answer</h4>
                              <p>
                              {{paragraphsMap[statement._id].__text}}
                              </p>
                            </div>

                            <div id="disqus-{{statement._id}}">
                              <h4 ng-click="loadDisqus(statement._id);">Comments</h4>
                            </div>

                            </li>
                        </ul>
            </div>
    </div>
</div>
