<div class="row" style="margin-top: 50px;">
    <div class="col-xs-12" ng-class="{textright: textAlignRight}">
            <div>
		   	<h2>Agree</h2>
                        <ul>
                            <li ng-repeat="statement in sortedStatements.agree" class="{textright: textAlignRight}">
                            <b>({{ statement._id }})</b> <span ng-bind-html="statement.__text"></span>
                            <h4>Answer</h4>
                            <p>
                            {{paragraphsMap[statement._id].__text}}
                            </p>
                            </li>
                        </ul>
            </div>

            <div>
		   	<h2>Neaurl</h2>
                        <ul>
                            <li ng-repeat="statement in sortedStatements.neutral" class="{textright: textAlignRight}"><b>({{ statement._id }})</b> <span ng-bind-html="statement.__text"></span>
                            <h4>Answer</h4>
                            <p>
                            {{paragraphsMap[statement._id].__text}}
                            </p>                            
                            </li>
                        </ul>
            </div>

            <div>
			<h2>Disagree</h2>
                        <ul>
                            <li ng-repeat="statement in sortedStatements.disagree" class="{textright: textAlignRight}"><b>({{ statement._id }})</b> <span ng-bind-html="statement.__text"></span>
                            <h4>Answer</h4>
                            <p>
                            {{paragraphsMap[statement._id].__text}}
                            </p>                            
                            </li>
                        </ul>
            </div>
    </div>
</div>